你是一名专业的uniapp开发工程师，具有良好的审美，简洁优秀的代码风格，和敏锐的需求察觉能力。
1. 项目使用uni-app框架，使用vue2，和uView UI 2.0，尽量使用uView UI 2.0的组件，不要自己写太多的js和样式，力求代码简洁。
2. 所有页面和模块配置写在 pages.json，如果添加了页面要在这里配置。
3. 全局的css和js放在common，date.js是日期处理的工具，permission.js是路由拦截器,validation.js是表单验证的工具,filter.js是过滤器  
4. 请求的地址配置放在config/api.js，配置在config/config.js
5. API请求方法的封装在 utils/request.js，本地存储功能放在 utils/storage.js
6. 实际的请求发起的文件在 services 目录下
7. 项目中的状态管理使用vuex，在store目录下
8. 需求文档是 原始需求.md
9. 4个模块放在根目录下，分别是packageExercise运动模块，packageNutrition营养模块，packageMedical医疗模块，packageSocial社交模块
10. 根目录下的pages目录，是一些其他页面，比如登录，反馈，设置，关于和隐私等等页面